body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #FFA500, #000000);
    background-attachment: fixed;
    font-size: 36px;
}
.score-container {
    
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.score-box {
    width: 400px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.22);
}
.bot-score {
    margin-bottom: 100px;
}
button {
    font-size: 30px;
    margin: 20px 80px;
    padding: 120px 120px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.44);
    transition: trasnform 0.2s;
}
.rockbutton {
    background-image: url('rock.png');
}
.paperbutton {
    background-image: url('paper.png');
}
.scissorsbutton {
    background-image: url('scissors.png');
}
button:hover {
    transform: scale(1.1);
}
img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10%;
}
#result {
    margin-top: 40px;
    margin-bottom: 60px;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}